@media only screen and (min-width: 37.5em) {
    #title {
        font-size: 4em;
    }

    header {
        background-color: rgb(5, 23, 82);
        height: 100px;
        margin-top: 5px;
    }
    
    main {
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }
    
    section:nth-child(1) {
        grid-column: span 1;
        margin-top: 16px;
    }

    section:nth-child(2) {
        grid-column: span 1;
        margin-top: 16px;
    }

    footer {
        font-size: 1em;
    }
}