@media only screen and (min-width: 42em) {
    header {
        border-radius: 12px;
    }
    
    h1 {
        font-size: 4em;
    }
    
    h2 {
        padding-right: 20px;
    }
    section {
        flex-direction: row;
        width:60%;
        height:90%;
        padding-left: 25%;
    }

    div {
        border-radius: 12px;
    }

    .pic {
        max-width: 25%;
        max-height: 25%;
        border-radius: 12px;
    }
    
    footer {
        border-radius: 12px;
        font-size: 1em;
    }
}