#title {
    font-size: 2em;
    text-align: center;
    color: white;
    padding: 5px;
}

header {
    margin-top: 5px;
    background-color: rgb(5, 23, 82);
    border-radius: 12px;
    height: 90px;
    border: 2px solid rgb(28, 165, 189);
}

h1, h2{
    font-size: 2em;
    color: white;
    margin-block-start: auto;
    margin-block-end: auto;
}

h3 {
    font-size: 1.5em;
    color: rgb(28, 165, 189);
}

p {
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    margin:auto;

}

section {
    background-color: rgb(5, 23, 82);
    border-radius: 12px;
    margin: 10px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    border: 2px solid rgb(28, 165, 189);
}

.pic {
    display: block;
    border-radius: 12px;
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 2px solid rgb(28, 165, 189);
}

a {
    color: rgb(28, 165, 189);
    background-color: transparent;
    text-decoration: underline;
}

footer {
    background-color: rgb(5, 23, 82);
    height: 50px;
    width: 100%;
    color: white;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    border: 2px solid rgb(28, 165, 189);
}

#modified {
    font-size: 0.7em;
    padding-top: 5px;
    color: white;
}