.fiveDay {
    display: none;
}

#forecast-title {
    display: none;
}

#button {
    text-align: center;
}

#button input {
    background-color: #FFB200;
    font-family: Krona One, sans-serif;
    color: #B86602;
    border-radius: 12px;
    padding: .5%;
}

/*Navigation*/
nav {
    background-color: #B86602;
    text-align: center;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

.navigation li:first-child {
    display: block;
    font-weight: bold;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
}

.navigation li {
    display: none;
    border-right: 2px solid white;
}

.navigation a {
	display: block;
    padding: .8rem 2%;
	text-align: center;
	text-decoration: none;
	color: black;
    font-family: Krona One, sans-serif;;
}

nav ul li a.active {
    color: #B86602;
    background-color: #FFB200;
}

nav ul li a:hover {
    color: #FFB200;
}

.responsive li {
    display: block;
}

.responsiveClose li {
    display: none;
}

/*Contact on home page*/
.social {
    grid-row: 1;
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
}

.contactUs {
    text-align: center;
}

.contact {
    grid-row: 1;
}

.contactUs p{
    font-size: 1em;
}

#mapIcon, #phone, #email {
    max-height: 25px;
}

.social {
    max-height: 30px;
}

/*Headings and Paragraphs*/
#logo {
    max-width: 200px;
    margin-left: 25px;
    margin-top: 25px;
}

h2 {
    color: #B86602;
    text-align: center;
    font-family: Krona One, sans-serif;
    font-size: 2em;
}

h1 {
    font-size: 2em;
    color: #B86602;
    font-family: Krona One, sans-serif;
}

h3 {
    font-size: 1.5em;
    margin: 5px;
    color: #002D52;
    text-decoration: underline;
    font-family: Krona One, sans-serif;
}

p {
    margin: 0;
    font-size: 1.5em;
    color: #002D52;
    text-align: center;
}

#title {
    font-size: 2em;
}

#subtitle {
    text-align: left;
    font-style: italic;
    font-size: 1.5em;
    margin-left: 25px;
    color: white;
}

#welcome {
    font-family: Krona One, sans-serif;
    font-style: italic;
    font-size: 1em;
    margin-top: -25px;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #002D52;
}

/*Weather Summary*/

#summary {
    display: grid;
    background-color: #59C1FF;
    border-radius: 12px;
    border: 2px solid #002D52;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin: auto;
}

#summary ul {
    list-style: none;
}

#summaryTitle {
    text-align: center;
}

/*Form for Contact page*/
form {
    max-width: 900px;
    margin: auto;
}

form fieldset {
    margin: 0 2em 2em 2em;
    border: 2px solid #B86602;
    border-radius: 12px;
    padding: 2em 2%;
    font-family: Krona One, sans-serif;
}

form label.top, form div {
    display: block;
    padding-top: 1.5em;
    color: #002D52;
    font-size: .8em;
    font-weight: bold;
}

#comments {
    height: 80px;
    width: 200px;
}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 5px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 15rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form input.submitBtn {
    display: block;
    border: none;
    background-color: #B86602;
    color: white;
    border-radius: 12px;
    padding: .75rem 1.5rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 20em;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*Footer*/
footer {
    background-color: #B86602;
    height: 50px;
    width: 100%;
    color: white;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
    font-size: 1em;
}

/* Color Theme Swatches in Hex */
.Weather-Site-1-hex { color: #002D52; }
.Weather-Site-2-hex { color: #59C1FF; }
.Weather-Site-3-hex { color: #196FFF; }
.Weather-Site-4-hex { color: #B86602; }
.Weather-Site-5-hex { color: #FFB200; }