@media only screen and (min-width: 32.5em) {
    header {
        height: 125px;
        justify-content: flex-start;
    }

    main {
        width: 75%;
        margin: auto;
    }

    #title {
        font-size: 2em;
        margin-right: 10px;
        margin-top: 15px;
    }

    #subtitle {
        font-size: 1em;
        margin: 0 0 10px 0;
    }

    #logo {
        height: 100px;
        margin-left: 40%;
    }

	.navigation {
		display: flex;
	}

    .navigation li {
		display: block;
		flex: 1 1 auto;
    }

    .navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
    }

    #comments {
        height: 80px;
        width: 500px;
    }

    form label.top input, form label.top select {
        max-width: 20rem;
    }

    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    #hero img {
        max-width: 75%;
        position: relative;
    }

    #summary {
        width: 250px;
        font-size: 1em;
    }

    header {
        justify-content: flex-start;
    }

    .fiveDay {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
    }

    #forecast-title {
        display: block;
    }

    #day1, #day2, #day3, #day4, #day5 {
        border: 1px solid black;
        padding: 3px;
        background-color: #002D52;
        margin: 3px;
        font-size: .8em;
    }

    #weather_icon1, #weather_icon2, #weather_icon3, #weather_icon4, #weather_icon5 {
        width: 50%;
    }

    #day1 {
        grid-column: 1;
    }

    #day2 {
        grid-column: 2;
    }

    #day3 {
        grid-column: 3;
    }

    #day4 {
        grid-column: 4;
    }

    #day5 {
        grid-column: 5;
    }

    #forecast {
        display: grid;
        text-align: left;
    }

    #day1_weather, #day2_weather, #day3_weather, #day4_weather, #day5_weather,
    #condition1, #condition2, #condition3, #condition4, #condition5, #date1,
    #date2, #date3, #date4, #date5 {
        color: #59C1FF;
        font-family: Righteous;
        font-weight: lighter;
    }

    .fiveDay div {
        text-align: center;
        font-size: 1.5em;
    }

    .weather_icon {
        width: 100%;
    }

    .fiveDay h3 {
        text-align: center;
    }

    .article {
        display: block;
    }

    #articleImg {
        width: 50%;
        margin: 2% 2% 0 2%;
        float: right;
    }

    #content {
        grid-column: 1;
        text-align: left;
    }

    #mapLink {
        margin: auto;
    }

    .contactUs {
        grid-template-columns: 1fr 1fr;
    }

    .contact {
        margin: auto;
        text-align: left;
        grid-column-start: 2;
        grid-column-end: auto;
        grid-row: auto;
    }

    .contact p {
        text-align: left;
    }

    #map {
        grid-column-start: 1;
        grid-column-end: auto;
        grid-row: auto;
    }

    .towncard section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #ss_image {
        grid-column: 2;
        grid-row: 2;
    }

    #ss_detail {
        grid-column: 1;
        grid-row: 2;
    }

    footer {
        font-size: 1em;
        width: 80%;
        margin: auto;
    }
}