/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}

header {
    background-color: $primaryColor;
    padding: 1rem $gutter;
    h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: $heavyWeight;
    } //end of h1
    h2{
        margin: 0;
        font-size: 1.2rem;
        font-weight: $regularWeight;
    } //end of h2
} //end of header

nav {background-color: #111;
ul{margin:0; padding: 0;}
li {list-style-type: none;}
li.active {background-color: #333}
a {
    display: block;
    padding: .8rem 0; /*44px min*/
    color: #eee;
    text-align: center;
    text-decoration: none;
} // end of a
a:hover {background-color: #444;}
} // end nav

main{display: block; padding: 1rem $gutter;
h1 {color: $primaryColor;
font-weight: $heavyWeight;
}

figure{
    margin: 0;
    width: 100%;
    img {width: 100%;}
    } // end figure
figcaption {text-align: center; font-size: .8rem;}
} // end of main



footer {
    background-color: $primaryColor;
    text-align: center;
    padding: 1rem $gutter;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}