@media only screen and (min-width: 42em) {
    #title {
        margin-right: 10px;
    }

    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; }

    footer {
        font-size: 1em;
    }
}