header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    margin-top: 5px;
    background-color: #0765B3;
    height: 90px;
}

p {
    margin: 0 0 10px 0;
    font-size: 1em;
}

img {
    max-width: 25%;
}

nav {
    background-color: #0765B3;
    text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}
nav ul li a {
	display: block;
    color: #FFA314;
    font-weight: bold;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
}
nav a:hover {
	background-color: #bbb;
    color: #36454f;
    border-radius: 12px;
}

.active {
	color: #1597FF;
}

h1{
    font-size: 2em;
    color: white;
}

h3 {
    margin: 0;
    color: #1C8AFF;
}

h2 {
    text-decoration: underline;
    color: #3697FF;
}

#subtitle {
    font-size: 1em;
    color: white;
    margin-top: 30px;
    text-decoration: none;
    font-style: italic;
    margin-right: auto;
}

#title {
    font-size: 2em;
    color: #FFA314;
    margin-left: 10px;
    margin-top: 5px;
}

section {
    text-align: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#logo {
    display: block;
    border-radius: 12px;
    max-width: 90%;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid rgb(28, 165, 189);
}
a {
    color: #FFAC1C;
    background-color: transparent;
    text-decoration: underline;
}

footer {
    background-color: #0765B3;
    height: 50px;
    width: 100%;
    color: white;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
