@media only screen and (min-width: 52em) {
	#logo {
        height: 90px;
	}

    #title {
        font-size: 3em;
    }

    #subtitle {
        font-size: 1.5em;
        margin-top: 35px;
    }

    .towncard section{
        display: block;
    }

    .towncard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

}