#banner {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #59C1FF;
    margin: auto;
    height: 50px;
    color: #002D52;
    font-weight: bold;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-family: Righteous;
}

p {
    margin: 0;
    font-size: 1em;
    color: #002D52;
    text-align: center;
}

nav {
    background-color: #002D52;
    text-align: center;
}

.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

.navigation li:first-child {
    display: block;
    font-weight: bold;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
}

.navigation li {
    display: none;
    border-right: 1px solid white;
}

.navigation a {
	display: block;
    padding: .8rem 2%;
	text-align: center;
	text-decoration: none;
	color: white;
    font-weight: 700;
}

nav ul li a.active {
    color: #002D52;
    background-color: #59C1FF;
}

nav ul li a:hover {
    color: #196FFF;
}

.responsive li {
    display: block;
}

.responsiveClose li {
    display: none;
}

#ham {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}

h1{
    font-size: 2em;
    color: white;
    font-family: Righteous;
}

h3 {
    font-size: 1.5em;
    margin: 5px;
    color: #002D52;
    text-decoration: underline;
    font-family: Righteous;
}

h2 {
    color: #B86602;
    text-align: center;
    font-family: Righteous;
}

h4 {
    text-align: center;
    font-style: italic;
    padding: 2%;
}

#subtitle {
    font-size: 1em;
    margin: 0 0 10px 0;
    color: black;
    text-decoration: none;
    font-style: italic;
    text-align: center;
}

#title {
    font-size: 2em;
    color: #B86602;
    margin: 0em;
    text-align: center;
}

#logo {
    border-radius: 12px;
    padding: 0 1em 1em 1em;
    height: 60px;
    margin: 10px;
}

#welcome {
    font-weight: bold;
    font-size: 1.5em;
}

section > p {
    padding: 2%;
}

section {
    display: block;
	max-width: 600px;
    margin: .5rem auto;
    border: 2px solid #002D52;
}

section > img {
    width: 100%;
}

.towncard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2px;
}

footer {
    background-color: #002D52;
    height: 50px;
    width: 100%;
    color: white;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
