#title {
    font-size: 2em;
    text-align: right;
    align-items: center;
    color: white;
    margin-top: -65px;
    margin-right: 10px;
}

header {
    margin-top: 5px;
    background-color: rgb(5, 23, 82);
    height: 90px;
    border: 2px solid rgb(28, 165, 189);
}

nav {
    background-color: rgb(5, 23, 82);
    text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
    border: 2px solid rgb(28, 165, 189);
}
nav a:hover {
	background-color: #bbb;
	color: #36454f;
}

.active {
	color: rgb(28, 165, 189);
}

h1{
    font-size: 2em;
    color: white;
}

section {
    margin: 10px;
    padding: 5px 0px 5px 0px;
    text-align: left;
}

#logo {
    display: block;
    border-radius: 12px;
    max-width: 90%;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid rgb(28, 165, 189);
}

a {
    color: rgb(28, 165, 189);
    background-color: transparent;
    text-decoration: underline;
}

footer {
    background-color: rgb(5, 23, 82);
    height: 50px;
    width: 100%;
    color: white;
    font-size: .8em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid rgb(28, 165, 189);
}

#modified {
    font-size: 0.7em;
    padding-top: 5px;
    color: rgb(28, 165, 189);
}